nodered.txt
[{"id":"25bf0e74.e1e812","type":"tab","label":"Bread","disabled":false,"info":""},{"id":"862da131.979b2","type":"mqtt in","z":"25bf0e74.e1e812","name":"","topic":"ha/sensor/bread/chamberTemp/state","qos":"2","datatype":"auto","broker":"3b1c447f.2a382c","x":160,"y":240,"wires":[["becf7c08.3ec06","488f012b.31e25"]]},{"id":"becf7c08.3ec06","type":"trigger","z":"25bf0e74.e1e812","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"3","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":570,"y":240,"wires":[["cd6edbe7.7af0c8","b443848.690b178","f51bfcc7.a60e78"]]},{"id":"80059772.4ea698","type":"inject","z":"25bf0e74.e1e812","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":60,"wires":[["becf7c08.3ec06"]]},{"id":"cd6edbe7.7af0c8","type":"exec","z":"25bf0e74.e1e812","command":"python3 /var/lib/cloud9/ha-beaglebone/remote_bread_off.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1180,"y":240,"wires":[[],[],[]]},{"id":"10dc8cbc.5ef0c3","type":"switch","z":"25bf0e74.e1e812","name":">60","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":300,"wires":[["cd6edbe7.7af0c8"]]},{"id":"488f012b.31e25","type":"change","z":"25bf0e74.e1e812","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[["10dc8cbc.5ef0c3"]]},{"id":"c36ab536.aebe78","type":"mqtt in","z":"25bf0e74.e1e812","name":"","topic":"ha/sensor/bread/heaterTemperature/state","qos":"2","datatype":"auto","broker":"3b1c447f.2a382c","x":160,"y":440,"wires":[["e925fcc5.96f43","becf7c08.3ec06"]]},{"id":"e925fcc5.96f43","type":"change","z":"25bf0e74.e1e812","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["9025c175.45157"]]},{"id":"9025c175.45157","type":"switch","z":"25bf0e74.e1e812","name":">95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":340,"wires":[["cd6edbe7.7af0c8"]]},{"id":"fcd6cee.8b0e83","type":"mqtt in","z":"25bf0e74.e1e812","name":"","topic":"ha/switch/bread_controller/set","qos":"2","datatype":"auto","broker":"3b1c447f.2a382c","x":140,"y":540,"wires":[["8ee52422.8ca768"]]},{"id":"8ee52422.8ca768","type":"switch","z":"25bf0e74.e1e812","name":"If ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":520,"wires":[["229bd948.450696","18c66a5.ead3796"],["b443848.690b178"]]},{"id":"229bd948.450696","type":"exec","z":"25bf0e74.e1e812","command":"python3 /var/lib/cloud9/ha-beaglebone/remote_bread_on.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":740,"wires":[[],[],[]]},{"id":"796793aa.b90a5c","type":"mqtt out","z":"25bf0e74.e1e812","name":"","topic":"ha/switch/bread/mode/set","qos":"","retain":"","broker":"3b1c447f.2a382c","x":1150,"y":120,"wires":[]},{"id":"a3c5fff0.cf6bf","type":"change","z":"25bf0e74.e1e812","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["796793aa.b90a5c"]]},{"id":"c0905634.a41dc8","type":"mqtt in","z":"25bf0e74.e1e812","name":"","topic":"ha/sensor/bread/#","qos":"2","datatype":"auto","broker":"3b1c447f.2a382c","x":90,"y":380,"wires":[["becf7c08.3ec06"]]},{"id":"5d4cacd.fcd0554","type":"inject","z":"25bf0e74.e1e812","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":20,"wires":[["cd6edbe7.7af0c8"]]},{"id":"4c7ffb05.f2c524","type":"link in","z":"25bf0e74.e1e812","name":"switch off","links":["d9f7e6cf.5be618"],"x":885,"y":380,"wires":[["cd6edbe7.7af0c8"]]},{"id":"4e4d63e1.006dc4","type":"exec","z":"25bf0e74.e1e812","command":"python3 /var/lib/cloud9/ha-beaglebone/remote_bread_off.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":260,"y":720,"wires":[[],[],[]]},{"id":"d3f71771.80adc","type":"mqtt out","z":"25bf0e74.e1e812","name":"","topic":"ha/switch/bread_controller/state","qos":"","retain":"","broker":"3b1c447f.2a382c","x":1250,"y":420,"wires":[]},{"id":"18c66a5.ead3796","type":"change","z":"25bf0e74.e1e812","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":440,"wires":[["d3f71771.80adc","a4c25a2d.5f1a18"]]},{"id":"b443848.690b178","type":"change","z":"25bf0e74.e1e812","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":520,"wires":[["d3f71771.80adc","a4c25a2d.5f1a18"]]},{"id":"a4c25a2d.5f1a18","type":"mqtt out","z":"25bf0e74.e1e812","name":"","topic":"ha/bread_chamber/set","qos":"","retain":"","broker":"3b1c447f.2a382c","x":1260,"y":480,"wires":[]},{"id":"f4c128f4.28b38","type":"mqtt out","z":"25bf0e74.e1e812","name":"","topic":"ha/bread_chamber/available","qos":"","retain":"","broker":"3b1c447f.2a382c","x":1180,"y":180,"wires":[]},{"id":"f51bfcc7.a60e78","type":"change","z":"25bf0e74.e1e812","name":"offline","rules":[{"t":"set","p":"payload","pt":"msg","to":"offline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":200,"wires":[["f4c128f4.28b38"]]},{"id":"3b1c447f.2a382c","type":"mqtt-broker","z":"","name":"home-assistant","broker":"10.70.1.95","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]